body {
    // position: relative;
    top: 0;
    left: 0;
    margin: 0;
}

@mixin centerElementY() {
    display: flex;
    align-items: center;
}

.main {
    width: 100vw;
    height: 100vh;
}

.top {
    @include centerElementY();
    padding-left: 10px;
    height: 8vh;
    width: 100vw;
    border: 1px dotted black;
}

.bottom {
    height: 80vh;
    width: 100vw;
    // border: 1px solid blue;
}

form {
    padding-top: 5px;
}